@tailwind base;
  @tailwind components;
  @tailwind utilities;

  @layer base {
    :root {
      --background: #FFFFFF;
      --foreground: #0C0A08;
  
      --card: #FFFFFF;
      --card-foreground: #0C0A08;
  
      --popover: #FFFFFF;
      --popover-foreground: #0C0A08;
  
      --primary: #1B1613;
      --primary-foreground: #FCF8E9;
  
      --secondary: #F6F3E4;
      --secondary-foreground: #1B1613;
  
      --muted: #F6F3E4;
      --muted-foreground: #706C63;
  
      --accent: #F6F3E4;
      --accent-foreground: #1B1613;
  
      --destructive: #E60000;
      --destructive-foreground: #FCF8E9;
  
      --border: #E6E6E6;
      --input: #E6E6E6;
      --ring: #0C0A08;

      --radius: 0.5rem;
    }

    .dark {
      --background: #0C0A08;
      --foreground: #FCF8E9;
  
      --card: #0C0A08;
      --card-foreground: #FCF8E9;
  
      --popover: #0C0A08;
      --popover-foreground: #FCF8E9;
  
      --primary: #FCF8E9;
      --primary-foreground: #1B1613;
  
      --secondary: #1A1412;
      --secondary-foreground: #FCF8E9;
  
      --muted: #1A1412;
      --muted-foreground: #4B463F;
  
      --accent: #1A1412;
      --accent-foreground: #FCF8E9;
  
      --destructive: #4C0D0D;
      --destructive-foreground: #FCF8E9;
  
      --border: #1A1412;
      --input: #1A1412;
      --ring: #CCC1B5;
    }
  }

  @layer base {
    * {
      @apply border-border;
    }
    body {
      @apply bg-background text-foreground;
    }
  }